/* 'GillSans' */
@font-face {
	font-family: 'GillSans';
	src: url('../fonts/gillsans/gillsans-ultrabold.eot');
	src: url('../fonts/gillsans/gillsans-ultrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gillsans/gillsans-ultrabold.woff2') format('woff2'),
		url('../fonts/gillsans/gillsans-ultrabold.woff') format('woff'),
		url('../fonts/gillsans/gillsans-ultrabold.ttf') format('truetype'),
		url('../fonts/gillsans/gillsans-ultrabold.svg#gillsans-ultrabold') format('svg');
}

/* 'Benzin' */
@font-face {
    font-family: 'Benzin';
    src: url('../fonts/benzin-bold/benzin-bold.eot');
    src: url('../fonts/benzin-bold/benzin-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/benzin-bold/benzin-bold.woff2') format('woff2'),
         url('../fonts/benzin-bold/benzin-bold.woff') format('woff'),
         url('../fonts/benzin-bold/benzin-bold.ttf') format('truetype'),
         url('../fonts/benzin-bold/benzin-bold.svg#benzin-bold') format('svg');
}
