.music-icon {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 32px;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
    transition: transform 1s ease;
}

.music-icon.hidden {
    display: none;
}

.music-icon:hover {
    transform: scale(1.2);
}

.black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Benzin';
    z-index: 999;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}