@font-face {
  font-family: 'GillSans';
  src: url('../fonts/gillsans/gillsans-ultrabold.woff2') format('woff2'),
       url('../fonts/gillsans/gillsans-ultrabold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Ermilov';
  src: url('../fonts/ermilov/ermilov-bold.woff2') format('woff2'),
       url('../fonts/ermilov/ermilov-bold.woff') format('woff');
  font-display: swap;
}

body {
  margin: 0;
  background-color: #292929;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  font-family: 'Ermilov', sans-serif;
  text-decoration: none;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #3F3F3F;
  border-radius: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
  width: 670px;
  margin: 5px 0;
}


.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.main {
  height: 430px;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  font-family: 'GillSans', sans-serif;
  font-size: 98px;
}

.description {
  font-size: 24px;
}

.links {
  height: 150px;
  margin-top: 20px;
  justify-content: space-around;
}

.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease;
}

.link-container:hover {
  opacity: 0.9;
}

.link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.link-icon {
  width: 75px;
  height: 75px;
  margin-top: 5px;
}

.link-text {
  font-size: 22px;
  transition: color 0.3s ease;
}

.link-text:hover {
  color: #ccc;
}

.projects {
  height: 150px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-title {
  font-size: 48px;
  margin-top: -20px;
}

.projects-soon {
  font-size: 40px;
  margin-top: 10px;
  background-color: #5F5F5F;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 400px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.projects-soon:hover {
  background-color: #4F4F4F;
}

footer {
  background-color: #3F3F3F;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.music-icon {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
  z-index: 1000;
  color: #fff;
  transition: transform 1s ease;
}

.music-icon.hidden {
  display: none;
}

.music-icon:hover {
  transform: scale(1.2);
}

.music-tooltip {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  z-index: 1001;
}

.music-icon:hover .music-tooltip {
  display: block;
}

.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: 'Ermilov', sans-serif;
  z-index: 999;
  text-align: center;
  transition: opacity 1s ease, visibility 1s ease;
  user-select: none;
}

.black-screen.hidden {
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 60px;
  }
  
  .description {
    font-size: 18px;
  }

  .link-text {
    font-size: 16px;
  }

  .projects-title {
    font-size: 36px;
  }

  .projects-soon {
    font-size: 32px;
  }

  footer {
    font-size: 24px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .card {
    width: 90%;
    max-width: none;
  }
}
